body {
    font-family: Work Sans;
    /* 
    Medidas absolutas: cm, mm, in, px, pt, pc
    Medidas relativas: em, ex, rem, vw, vh, %
    16px = 1em
    */
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style:italic;

    /*shorthand font
    font-style -> font-weight -> font-size -> font-family
    font: italic bolder 3em sans-serif; */
}

h2 {
    font: bold 2em sans-serif;
}

